body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #2c3e50;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

#options button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    background-color: #16a085;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#options button:hover {
    background-color: #1abc9c;
}
